{% extends "layout.html" %}
{% block content %}
  <h2>Add Overtime</h2>
  <div class="card">
  <form method="POST">
    <label>Company</label><input name="company" value="{{ config.COMPANY_NAME }}">
    <label>Month / Year (e.g., {{ default_month_year }})</label><input name="month_year" value="{{ default_month_year }}" required>
    <label>Department</label><input name="department" value="{{ config.DEFAULT_DEPARTMENT }}">
    <label>Section</label><input name="section">
    <label>Employee Name</label><input name="employee_name" required>
    <label>Employee Code</label><input name="employee_code" required>
    <label>Date</label><input type="date" name="date" required>
    <label>Justification</label><textarea name="justification"></textarea>
    <label>Duty IN (HH:MM)</label><input type="time" name="duty_in" required>
    <label>Duty OUT (HH:MM)</label><input type="time" name="duty_out" required>
    <label>Checked By</label><input name="Checked_by">
    {% if current_user.role in ['manager','supervisor'] %}
      <label>Sign of Incharge</label><input name="sign_of_incharge">
    {% endif %}
    <div style="margin-top:12px;">
      <button class="btn" type="submit">Submit</button>
      <a class="btn danger" href="{{ url_for('dashboard') }}">Cancel</a>
    </div>
  </form>
  </div>
{% endblock %}
